[Unit]
Description=Midi listener for digital pianos
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart= /home/pi/Developing/MidiChki/listener/venv37/bin/python /home/pi/Developing/MidiChki/listener/playing.py -p Piano -u https://mighty-island-21925.herokuapp.com
StandardInput=tty-force
Restart=on-failure

[Install]
WantedBy=multi-user.target

