.flex-container {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  height: 100%;
}

.piano-container {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(56, 1fr);
  grid-template-rows: 1fr 4fr;
  width: 100%;
}

.svgholder {
  grid-area: 2/1/2/57;
  width: 100%;
  height: 80%;
}

.dot {
  width: 100%;
  padding-top: 100%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
